#wrapper #header .headTop {
  background-color: #eaeaea;
  height: 30px;
}
#wrapper #header .headTop .headTopMain {
  width: 1200px;
  line-height: 30px;
  margin: 0 auto;
}
#wrapper #header .headTop .headTopMain::after {
  clear: both;
  display: block;
  content: "";
}
#wrapper #header .headTop .headTopMain .left h5 {
  float: left;
}
#wrapper #header .headTop .headTopMain .left p {
  float: left;
}
#wrapper #header .headTop .headTopMain .left p a:first-child {
  border-right: 1px solid black;
  padding-right: 5px;
}
#wrapper #header .headTop .headTopMain .right {
  float: right;
}
#wrapper #header .headTop .headTopMain .right nav {
  font-size: 0;
}
#wrapper #header .headTop .headTopMain .right nav a {
  font-size: 1rem;
  border-right: 1px solid black;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
#wrapper #header .headTop .headTopMain .right nav a:last-child {
  border-right: none;
}
#wrapper #header .headBottom .headBottomMain {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
#wrapper #header .headBottom .headBottomMain .logo {
  width: auto;
}
#wrapper #header .headBottom .headBottomMain .logo a img {
  width: 175px;
  height: 56px;
  margin: 25px 45px;
}
#wrapper #header .headBottom .headBottomMain .search {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#wrapper #header .headBottom .headBottomMain .search input:first-child {
  width: 490px;
  height: 32px;
  padding: 0 4px;
  border: 3px solid #ea4a36;
}
#wrapper #header .headBottom .headBottomMain .search input:last-child {
  width: 68px;
  height: 32px;
  color: #fff;
  background-color: #ea4a36;
  border: none;
}
#wrapper #header .headBottom .headBottomMain .search input::-webkit-input-placeholder {
  color: yellowgreen;
}
#wrapper #navWrapper {
  border-bottom: 2px solid #ea4a36;
}
#wrapper #navWrapper #navWrapperMain {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#wrapper #navWrapper #navWrapperMain a {
  margin: 0px 22px;
  color: #333;
}
#wrapper #navWrapper #navWrapperMain a:first-child {
  width: 210px;
  height: 50px;
  background-color: #e1251b;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
#content .contentMain {
  width: 1200px;
  margin: 15px auto 0 auto;
}
#content .contentMain::after {
  clear: both;
  display: block;
  content: "";
}
#content .contentMain #navPath {
  font-size: 0;
  padding: 9px 15px 9px 0;
}
#content .contentMain #navPath a {
  font-size: 12px;
}
#content .contentMain #navPath i {
  font-size: 12px;
  padding: 0 5px;
}
#content .contentMain #center {
  margin: 5px 0 15px;
}
#content .contentMain #center #left {
  width: 400px;
  float: left;
}
#content .contentMain #center #left #leftTop {
  position: relative;
}
#content .contentMain #center #left #leftTop #smallPic {
  width: 400px;
  height: 400px;
  border: 1px solid #dfdfdf;
  position: relative;
  overflow: hidden;
}
#content .contentMain #center #left #leftTop #smallPic #mask {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
}
#content .contentMain #center #left #leftTop #bigPic {
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  position: absolute;
  left: 420px;
  top: 0px;
  overflow: hidden;
}
#content .contentMain #center #left #leftTop #bigPic img {
  width: 800px;
  height: 800px;
}
#content .contentMain #center #left #leftBottom {
  width: 400px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content .contentMain #center #left #leftBottom a {
  width: 10px;
  height: 54px;
  border: 1px solid #ccc;
  background-color: #ebebeb;
  text-decoration: none;
  text-align: center;
  color: black;
  line-height: 54px;
  z-index: 3;
}
#content .contentMain #center #left #leftBottom #picList {
  overflow: hidden;
  z-index: 2;
}
#content .contentMain #center #left #leftBottom #picList ul {
  list-style: none;
  width: 372px;
  height: 56px;
  white-space: nowrap;
  font-size: 0;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
#content .contentMain #center #left #leftBottom #picList ul li {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-right: 20px;
}
#content .contentMain #center #left #leftBottom #picList ul li img {
  width: 50px;
  height: 50px;
  padding: 2px;
  aspect-ratio: auto;
}
#content .contentMain #center #right {
  width: 700px;
  float: right;
}
#content .contentMain #center #right #rightTop h3 {
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
}
#content .contentMain #center #right #rightTop p {
  color: #e12228;
  margin-top: 15px;
}
#content .contentMain #center #right #rightTop .priceWrap {
  margin-top: 10px;
  line-height: 28px;
  background: #fee9ec;
  padding: 7px;
}
#content .contentMain #center #right #rightTop .priceWrap .priceTop::after {
  clear: both;
  display: block;
  content: "";
}
#content .contentMain #center #right #rightTop .priceWrap .priceTop > span {
  margin-right: 15px;
  float: left;
}
#content .contentMain #center #right #rightTop .priceWrap .priceTop .price {
  float: left;
}
#content .contentMain #center #right #rightTop .priceWrap .priceTop .price > span:nth-child(2) {
  font-size: 24px;
  color: #cc1122;
  font-weight: bold;
}
#content .contentMain #center #right #rightTop .priceWrap .priceTop .price > span {
  font-size: 16px;
}
#content .contentMain #center #right #rightTop .priceWrap .priceTop .price > span a {
  font-size: 12px;
  color: #cc1122;
}
#content .contentMain #center #right #rightTop .priceWrap .priceTop .commentCount {
  float: right;
}
#content .contentMain #center #right #rightTop .priceWrap .priceTop .commentCount > span {
  color: gray;
}
#content .contentMain #center #right #rightTop .priceWrap .priceBottom {
  width: 520px;
  line-height: 28px;
}
#content .contentMain #center #right #rightTop .priceWrap .priceBottom span {
  color: #999;
}
#content .contentMain #center #right #rightTop .priceWrap .priceBottom span:nth-child(1) {
  margin-right: 15px;
}
#content .contentMain #center #right #rightTop .priceWrap .priceBottom span:nth-child(2) {
  background-color: #c81623;
  color: #fff;
  padding: 3px;
}
#content .contentMain #center #right #rightTop .support {
  padding-bottom: 5px;
  margin-top: 10px;
  line-height: 28px;
}
#content .contentMain #center #right #rightTop .support span:first-child {
  margin-right: 15px;
}
#content .contentMain #center #right #rightTop .support span:last-child {
  color: #999;
}
#content .contentMain #center #right #rightTop .deliver {
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
  line-height: 28px;
}
#content .contentMain #center #right #rightTop .deliver span:first-child {
  margin-right: 15px;
}
#content .contentMain #center #right #rightTop .deliver span:last-child {
  color: #999;
}
