@import './mixins/clear.less';

#wrapper {
    #header {
        .headTop {
            background-color: #eaeaea;
            height: 30px;

            .headTopMain {
                width: 1200px;
                line-height: 30px;
                margin: 0 auto;
                // overflow: hidden;
                .clearfix();

                .left {
                    h5 {
                        float: left;
                    }

                    p {
                        float: left;

                        a {
                            &:first-child {
                                border-right: 1px solid black;
                                padding-right: 5px;
                            }
                        }
                    }
                }

                .right {
                    float: right;

                    nav {
                        font-size: 0;

                        a {
                            font-size: 1rem;
                            border-right: 1px solid black;
                            padding-left: 0.2rem;
                            padding-right: 0.2rem;

                            &:last-child {
                                border-right: none;
                            }
                        }
                    }
                }
            }
        }

        .headBottom {
            .headBottomMain {
                width: 1200px;
                height: auto;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;

                .logo {
                    width: auto;

                    a {
                        img {
                            width: 175px;
                            height: 56px;
                            margin: 25px 45px;
                        }
                    }
                }

                .search {
                    width: auto;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    input {

                        &:first-child {
                            width: 490px;
                            height: 32px;
                            padding: 0 4px;
                            border: 3px solid #ea4a36;
                        }

                        &:last-child {
                            width: 68px;
                            height: 32px;
                            color: #fff;
                            background-color: #ea4a36;
                            border: none;
                        }

                        &::-webkit-input-placeholder {
                            color: yellowgreen;
                        }
                    }
                }
            }
        }
    }

    #navWrapper {
        border-bottom: 2px solid #ea4a36;

        #navWrapperMain {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            a {
                margin: 0px 22px;
                color: #333;

                &:first-child {
                    width: 210px;
                    height: 50px;
                    background-color: #e1251b;
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 50px;
                }
            }
        }
    }
}

#content {
    .contentMain {
        width: 1200px;
        margin: 15px auto 0 auto;

        #navPath {
            font-size: 0;
            padding: 9px 15px 9px 0;

            a {
                font-size: 12px;

            }

            i {
                font-size: 12px;
                padding: 0 5px;
            }
        }

        #center {
            margin: 5px 0 15px;

            #left {
                width: 400px;
                float: left;

                #leftTop {
                    position: relative;

                    #smallPic {
                        width: 400px;
                        height: 400px;
                        border: 1px solid #dfdfdf;
                        position: relative;
                        overflow: hidden;

                        #mask {
                            width: 200px;
                            height: 200px;
                            background: rgba(255, 255, 255, 0.5);
                            border: 1px solid #ddd;
                            position: absolute;
                            left: 0;
                            top: 0;
                            padding: 0;
                        }
                    }

                    #bigPic {
                        width: 400px;
                        height: 400px;
                        border: 1px solid #ddd;
                        position: absolute;
                        left: 420px;
                        top: 0px;
                        overflow: hidden;

                        img {
                            width: 800px;
                            height: 800px;

                        }
                    }
                }

                #leftBottom {
                    width: 400px;
                    margin-top: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    a {
                        width: 10px;
                        height: 54px;
                        border: 1px solid #ccc;
                        background-color: #ebebeb;
                    }
                    #picList {
                        ul {
                            list-style: none;
                            width: 372px;
                            height: 56px;
                            overflow: hidden;
                            white-space: nowrap;
                            font-size: 0;
                            li {
                                width: 50px;
                                height: 50px;
                                border: 1px solid #ccc;
                                display: inline-block;
                                margin-right: 20px;
                                img {
                                    
                                    width: 50px;
                                    height: 50px;
                                    
                                    padding: 2px;
                                    
                                    aspect-ratio: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}